.site-box {
    text-align: center;
    background-color: #000;
    background-image: none;/* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    background-size: cover;
    background-repeat: no-repeat;
    color: #b08271;
    font-size: 15px;
    border: 3px outset #8a2be2;
}
.site-box > a > p {
    color: #fff;
    font-weight: bold;
    text-shadow: none;
}
.site-box > a > span {
    color: #fff;
    text-shadow: none;
}

.site-box > a > p:hover {
    color: #8a2be2;
    font-style: italic;
}
.site-box > a > span {
    color: #fff;
}

.site-box img {
	border: 1px solid #8a2be2;
}

.follow {
	background: linear-gradient(rebeccapurple, blueviolet, rebeccapurple);
	border: blueviolet 1px solid;
	color: black;
	margin-top: 3px;
}

.follow:hover {
	background: linear-gradient(blueviolet, mediumpurple, blueviolet);
	border: mediumpurple 1px solid;
}

.post-box {
    background-color: mediumpurple;
    border: 4px outset #8a2be2;
    padding: 15px;
    border-radius: 5px;
    color: #000000;
    font-weight: normal;
}

.post-box .post-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}