body {
    background: url(439767.jpg) fixed;
    background-size: cover;
    margin-top: 0px;
    padding: 0;
    font-family: Martian Mono;
    scrollbar-color: blueviolet black;
}

h1 {
    color: #fff;
}

p {
    font-size: 16px;
    color: #fff;
}

a {
    color: #8a2be2;
}

a:hover {
	color: #fff;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

@font-face {
    font-family: Martian Mono;
    src: url(Martian\ Mono.ttf);
}

.grid-container {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 175px repeat(3,200px) 200px;
    grid-template-rows: 150px auto 1fr;
    grid-template-areas:
    'header header header header header'
    'marquee marquee marquee marquee marquee'
    'nav main main main aside'
    'footer footer footer footer footer';
    gap: 0px;
    position: relative;
    z-index: 0;
}

header { 
    grid-area: header; 
    border: solid 1px blueviolet;
    position: relative;
}

.marquee {
    grid-area: marquee;
    border: #8a2be2 1px solid;
    height: fit-content;
    margin-top: 5px;
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 10s linear infinite;
    animation-duration: 13s;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.marquee-content p {
    padding: 0px;
    margin: 2px 0px;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
}

aside { 
    grid-area: aside; 
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-flex;
    justify-content: center;
    width: 200px;
    height: fit-content;
    flex-wrap: wrap;
}

.aotw {
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    border: 1px solid blueviolet;
    width: 190px;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

.aotw img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: block;
}

.lastfm {
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    width: 190px;
    border: 1px solid blueviolet;
    text-align: center;
}

.recent-played-track a {
    color: #fff;
}

.statuscafe-container {
    width: 180px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#statuscafe {
    border-image: url(frame2.png);
    border-image-slice: fill 30%;
    border-image-width: 40px;
    border-style: solid;
    padding: 2px 4px 10px 4px;
    font-size: 14px;
    color: black;
    width: 180px;
    margin-left: 40px;
}

#statuscafe-username {
    margin-bottom: .2rem;
    margin-left: 0.22rem;
}


#statuscafe-content {
    margin: 4px 4px 8px 4px;
}

.mood {
	background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    border: 1px solid blueviolet;
    width: 190px;
    height: fit-content;
    margin: 5px 0;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
}

.mood h3 {
	font-size: 16px;
	margin: 0;
}

nav {
    grid-area: nav;
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    border: #8a2be2 solid 1px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
nav h2 {
    font-size: 22px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 10px;
}

nav a {
    color: #fff;    
}

nav a:hover {
    color: #8a2be2;
}

nav ul {
    margin-left: 25px;
    padding-left: 0;
}

nav li {
    margin-bottom: 10px;
}

main { 
    grid-area: main; 
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    border: solid 1px blueviolet;
    height: fit-content;
    margin: 5px 0px;
    padding-bottom: 10px;
}

.top-title {
    width: fit-content;
    margin: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.top-title p {
    margin: 0;
}

.top-title h1 {
    margin: 0;
    margin-bottom: 2px;
}

.line-break {
    width: 95%;
    height: 1px;
    background-color: #8a2be2;
    margin: auto;
}

.title-article {
    background-image: url(site_title.jpg);
    text-align: center;
    color: #fff;
    width: 500px;
    margin: 10px auto;
}

article {
    width: 95%;
    text-align: center;
    margin: 5px auto;
}

.site-buttons {
    width: 95%;
    height: 200px;
    display: flex;
    margin: auto;
}

.site-buttons article {
    width: 50%;
}

.site-buttons article:nth-child(2) {
    overflow-y: scroll;
}

.site-buttons article:nth-child(2) img {
    margin: -1px -4px;
    padding: 0;
}

.site-buttons .title-article {
    width: 95%;
}

.updarticles {
    width: 550px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.updarticles article {
    display: block;
    width: 225px;
    max-width: 2225px;
    height: 200px;
    max-height: 200px;
    padding: 6px;
    white-space: normal;
    display: inline-block;
    position: relative;
    overflow-y: scroll;
    border: 1px solid blueviolet;
    margin-right: 5px;    
}

.blognew {
    display: initial;
    margin-right: 5px;
}

.resrcnew {
    display: none;
    margin-right: 5px;
}

.blog-container {
    width: 90%;
    height: 100px;
    margin: 20px auto;
    background: rgba(137, 43, 226, 0.26);
    border-left: 2px solid #fff;
    padding: 5px;
    position: relative;
}

.blog-container p, h3 {
    margin: 1px;
}

.blog-container a {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.kandi {
    width: 550px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.kandi img {
    display: block;
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    padding: 6px;
    white-space: normal;
    display: inline-block;
    position: relative;
    overflow-y: scroll;
    border: 1px solid blueviolet;
    margin-right: 5px;    
}

.webrings {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 5px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
}

footer { 
    grid-area: footer; 
    border: solid 1px blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    color: white;
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
}

summary {
    color: #fff;
    width: fit-content;
}

#blinkies img{
    width: 150px;
    height: 20px;
    object-fit: scale-down;
}

#stamps img{
    width: 99px!important;
    height: 56px!important;
    object-fit: scale-down;
}

#buttons img{
    width: 88px;
    height: 31px;
    object-fit: scale-down;
}

#icons img{
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

@keyframes resource {
    0% {background: rgba(0, 0, 0, 0.5); border: rgba(137, 43, 226, 0.26) 2px solid;}
    100% {background: rgba(0, 0, 0, 0.75); border: rgba(137, 43, 226, 0.75) 2px solid;}
}

.resource-container {
    display: flex;
    flex-wrap: wrap;
}

.resource {
    width: 31%;
    border: rgba(137, 43, 226, 0.26) 2px solid;
    background: rgba(0, 0, 0, 0.5);
    height: 175px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px;
}

.resource:hover {
    animation-name: resource;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.resource a {
    color: #fff;
}

.resource a:hover {
    color: #8a2be2;
}

.shrine-preview {
    margin: 10px auto;
    width: fit-content;
    height: 140px;
    text-align: center;
}

#disco-mode {
  	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  	background-color: rgba(255,0,0,0.25);
  	animation-name: example;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
  	z-index: 1;
  	pointer-events: none;
}

@keyframes example {
  	0%   {background-color: rgba(255,0,0,0.25);}
  	25%  {background-color: rgba(255,255,0,0.25);}
  	50%  {background-color: rgba(0,255,0,0.25);}
  	75% {background-color: rgba(0,0,255,0.25);}
  	100% {background-color: rgba(255,0,0,0.25);}
}

.disco-button {
	z-index: 2;
    position: fixed;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    background: blueviolet;
    text-align: center;
    background: radial-gradient(blueviolet 30%, rebeccapurple 70%);
    border: blueviolet 2px solid;
    font-size: 20px;
}

.disco-button:hover {
	background: radial-gradient(mediumpurple 40%, blueviolet 70%);
	border: mediumpurple 2px solid;
}

#disco-mode img {
	display: block;
	margin: auto;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.welcome {
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    border: 1px solid blueviolet;
    text-align: center;
    width: 55%;
    height: fit-content;
    position: relative;
    padding: 10px;
}

.welcome p {
    width: 100%;
    margin: 0;
}

.welcome h1 {
    margin: 2px;
}

.welcome a {
    margin: 2px;
    font-size: 16px;
}

.rating {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    margin: 4px;
}

.letmein {
    background:transparent url("letmeINNNstatic.png") center top no-repeat;
    width: 220px;
    height: 124px;
    margin: auto;
}

.letmein:hover {
    background-image: url("letmeINNN.gif");
}

.index-buttons {
    float: inline-start;
    margin-top: 10px;
}

.kitty {
    width: 100%;
    position: fixed;
    bottom: 0;
}