body {
    background: url(images/background.jpg) fixed;
    background-size: cover;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

@font-face {
    font-family: "Amiga Forever";
    src: url(Amiga\ Forever.ttf);
}

@font-face {
    font-family: "Grape Soda";
    src: url(GrapeSoda.ttf);
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: Grape Soda;
    letter-spacing: 2px;
}

p {
    color: #fff;
    font-size: 14px;
    font-family: Amiga Forever;
}

a {
    color: #fff;
}

a:hover {
    font-style: italic;
}

.welc-container {
    width: 900px;
    height: 500px;
    margin: auto;
    padding: 5px;
    background: url(images/tileBG.gif);
    border: outset 8px #8a2be2;
    text-align: center;
    position: relative;
}

.welc-container h1{
    font-size: 50px;
}

.welc-content {
    display: flex;
    height: 90%;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.welc-gadgets {
    width: 40%;
    z-index: 0;
}

.statuscafe-container {
    width: 180px;
    font-family: Amiga Forever;
    margin: auto;
}

.statuscafe-container a {
    color: #8a2be2;
}

#statuscafe {
    border-image: url(images/frame2.png);
    border-image-slice: fill 30%;
    border-image-width: 40px;
    border-style: solid;
    padding: 2px 4px 10px 4px;
    font-size: 11px;
    color: black;
    width: 180px;
    margin-left: 60px;
    margin-bottom: -10px;
}

.clippy {
    margin-bottom: -10px;
}

#statuscafe-username {
    margin-bottom: .2rem;
    margin-left: 0.22rem;
}


#statuscafe-content {
    margin: 4px 4px 8px 4px;
}

.welc-intro {
    width: 60%;
    height: 85%;
    padding: 0px 5px;
    border: outset 5px #8a2be2;
    background: #000;
    scrollbar-width: thin;
    scrollbar-color: #8a2be2 #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welc-intro h2 {
    font-size: 35px;
}

.welc-intro p {
    margin-bottom: 5px;
}

.welc-intro button {
    background: url(images/tileBG3.png);
    background-size: 60px;
    background-position: center;
    width: 140px;
    height: 60px;
    border: outset 5px #8a2be2;
    font-family: Grape Soda;
    font-size: 35px;
    color: #fff;
}

.welc-intro button:hover {
    border: inset 5px #8a2be2;
}

.welc-intro button a {
    display: block;
    width: 100%;
    height: 100%;
}

#sticky-note {
    background: url(images/stickyNote.png);
    background-position: center;
    background-size: 250px;
    position: absolute;
    z-index: 2;
    left: -7.5em;
    top: 3em;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 242px;
}

@media screen and (min-width: 600px) and  (max-width: 600px){
  #sticky-note {
    background-size: 200px;
    width: 200px;
    height: 184px;
    left: -3.5em;
    top: 3em;
  }
}

#sticky-note p {
    margin-left: 30px;
    margin-top: 50px;
    color: #000;
    width: 190px;
}

#stick-note-text {
    z-index: 3;

}

.kitty {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.grid-container {
    display: grid;
    width: 1000px;
    margin: auto;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 200px 35px 60px auto 1fr;
    grid-template-areas: 'header header header header'
    'marquee marquee marquee marquee'
    'nav nav nav nav'
    'main main main aside'
    'footer footer footer footer';
    gap: 5px;
}

header {
    grid-area: header;
    width: 1000px;
    height: 200px;
    border: #8a2be2 5px outset;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

header img {
    border-radius: 15px 15px 0px 0px;
    width: 1000px;
    height: 200px;
}

#banner-creds {
    background-color: rgba(255, 255, 0, 0.25);
    width: fit-content;
    height: 20px;
    border-radius: 0px 15px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: #ff0;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 60px!important;
    grid-template-columns: repeat(6, auto);
    width: 1009.2px;
    height: 60px;
}

nav button {
    background: linear-gradient(#8a2be2 30%, #4a167a, #7326bc);
    background-size: auto;
    background-position: center;
    margin: 0!important;
    height: 60px;
    border: #8a2be2 5px outset;
    font-family: Grape Soda;
    font-size: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button:hover {
    border: #8a2be2 5px inset;
    background: linear-gradient(#6e23b5 30%, #310f51, #5b1e95);
}

nav button a {
    display: block;
    width: 100%;
    height: 100%;
}

.marquee {
    grid-area: marquee;
    border: #8a2be2 5px outset;
    width: 1000px;
    height: fit-content;
    margin-top: 5px;
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 10s linear infinite;
    animation-duration: 13s;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.marquee-content p {
    padding: 0px;
    margin: 2px 0px;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
}

main {
    grid-area: main;
    border: #8a2be2 5px outset;
    margin-top: -5px;
    margin-left: -5px;
    margin: 0;
    width: 750px;
    height: fit-content;
    background: url(images/tileBG.gif);
    scrollbar-width: thin;
    scrollbar-color: #8a2be2 #000;
} 

.main-content {
    grid-area: main-content;
}

aside {
    grid-area: aside;
    border: #8a2be2 5px outset;
    width: 225px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
}

.aside-box {
    width: 225px;
    margin-bottom: 5px;
}

.aside-box h3 {
    grid-area: h3;
    background: linear-gradient(to right,#8a2be2, transparent);
    text-align: left;
    padding-left: 5px;
}

.aside-box p{
    font-size: 11px;
}

.aside-box span {
    grid-area: span;
    padding-top: 5px;
}

.aside-box span img {
    width: 60px;
}

.aside-box:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: auto;
    grid-template-areas: 'h3 h3 h3'
    'span span span';
}

.aside-box li {
    text-align: left;
    color: #fff;
    font-family: Amiga Forever;
    font-size: 11px;
}

#marquee {
    min-height: 325px;
    height: 1512px;
    overflow-y: scroll;
}

#marquee img{
    width: 190px;
}

article {
    width: 90%!important;
    height: fit-content;
    background: #000;
    margin: 25px auto;
    position: relative;
    padding-top: 40px!important;
    padding: 10px;
    text-align: center;
    border: #8a2be2 5px outset;
}

article h1{
    background-color: #8a2be2;
    width: fit-content;
    font-size: 35px;
    border: #5b1d95 5px solid;
    padding: 2px;
    position: absolute;
    left: -15px;
    top: -15px;
}

.updates-container {
    width: 98%;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    border: #8a2be2 5px outset;
    margin-top: 5px;
    padding: 5px;
}

.update {
    display: block;
    width: 225px;
    max-width: 2225px;
    height: 200px;
    max-height: 200px;
    padding: 6px;
    white-space: normal;
    display: inline-block;
    position: relative;
    overflow-y: scroll;
    border: 2px outset blueviolet;
    margin-right: 5px;    
}

.site-articles-container {
    display: flex;
}

.site-articles {
    width: 50%;
    padding: 5px;
    height: 220px;
}

.site-articles:first-child {
    border-right: 1px solid #8a2be2;
}

.site-articles:last-child {
    border-left: 1px #8a2be2 solid;
    overflow-y: scroll;
}

.new-article-container {
    display: flex;
    align-items: center;
}

.new-article {
    width: 50%;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
}

.lastfm {
    text-align: center;
    margin: auto;
    min-width: 180px;
    max-width: 320px;
    border: #8a2be2 1px solid;
}

.new-article li {
    color: #fff;
    border-bottom: #fff 1px solid;
    list-style-type: none;
    padding: 10px 0px;
    font-family: Amiga Forever;
    font-size: 10px;
    margin: auto;
}

.new-article li:last-child {
    border-bottom: none;
}

.new-article:first-child {
    border-right: 1px solid #8a2be2;
}

.new-article:last-child {
    border-left: 1px #8a2be2 solid;
}

#about-article {
    display: flex;
    justify-content: center;
}

.about-right-col {
    width: 48%;
    margin: 0px auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.quizzes {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    margin: 0px auto;
    border: #8a2be2 5px outset;
    margin-top: 15px;
}

.friends {
    width: 100%;
    height: fit-content;
    margin: 0px auto;
    border: #8a2be2 5px outset;
    margin-top: 15px;
}

.about-stamps {
    width: 100%;
    height: 73px;
    margin: 0px auto;
    border: #8a2be2 5px outset;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socials {
    width: 45%;
    border: #8a2be2 5px outset;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    margin-right: 10px;
}

.albums-container {
    border: #8a2be2 5px outset;
    height: 160px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.albums-container img {
    width: 140px;
    margin-right: 20px;
}

.albums-container img:last-child {
    margin-right: 0!important;
}

.kandi-container {
    border: #8a2be2 5px outset;
    height: 160px;
    width: 98%px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.kandi-container img {
    height: 140px;
    margin-right: 20px;
}

.kandi-container img:last-child {
    margin-right: 0!important;
}

table {
    color: #fff;
    border: #8a2be2 5px solid;
    border-collapse: collapse;
    width: 48%!important;
    margin: 15px auto 0px;
    font-family: Amiga Forever;
    font-size: 12px;
}

tr, th, td {
    border: 2px solid #fff;
    padding: 5px;
}

.blog-container {
    background: url(images/blogTileBG.gif);
    width: 95%;
    margin: 20px auto;
    border: #8a2be2 5px outset;
    padding: 5px;
    text-align: left;
}

.blog-container p {
    width: fit-content;
}

.blog-container h2 {
    font-size: 30px;
    width: fit-content;
}

.blog-container span img {
    width: 32px;
}

.blog-container summary {
    font-family: Amiga Forever;
    color: #fff;
}

.graphics-nav {
    width: 85%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphics-nav button {
    width: 100px;
    height: 55px;
    margin: 0px 5px;
    background-color: #8a2be2;
    color: #fff;
    font-family: Grape Soda;
    font-size: 20px;
    border: #5b1d95 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphics-nav button:hover {
    background: #7526c0;
    border: #5b1d95 5px solid;
}

.graphics-nav button a {
    display: block;
    width: 100%;
    height: 100%;
}

#graphics-page img{
    border: 1px solid #8a2be2;
    padding: 5px;
}

#my-blinkies img, #blinkies img{
    width: 150px;
    height: 20px;
    object-fit: scale-down;
}

#my-stamps img, #stamps img{
    width: 99px;
    height: 56px;
    object-fit: scale-down;
}

#buttons img {
    width: 81px;
    height: 33px;
    object-fit: scale-down;
}

#icons img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.resource-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.resource {
    width: 29%;
    border: 5px #8a2be2 outset;
    background: linear-gradient(#8a2be2, #000 40%);
    height: 175px;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px;
}

.resource a {
    font-family: Amiga Forever;
}

.shrine-preview {
    background: linear-gradient(#8a2be2, #000 40%);
    border: #8a2be2 5px outset;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: auto;
}

footer {
    grid-area: footer;
    border: #8a2be2 5px outset;
    border-radius: 0px 0px 20px 20px;
    width: 1000px;
    background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    height: 75px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}