body {
    background: url(439767.jpg) fixed;
    background-size: cover;
    margin-top: 0px;
    padding: 0;
    font-family: Martian Mono;
    scrollbar-color: blueviolet black;
}

h1 {
    color: #fff;
}

p {
    font-size: 16px;
    color: #fff;
}

a {
    color: #8a2be2;
}

a:hover {
	color: #fff;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

@font-face {
    font-family: Martian Mono;
    src: url(Martian\ Mono.ttf);
}

main {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.top-title {
    width: fit-content;
    margin: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.top-title p {
    margin: 0;
}

.top-title h1 {
    margin: 0;
    margin-bottom: 2px;
}

.line-break {
    width: 95%;
    height: 1px;
    background-color: #8a2be2;
    margin: auto;
}

.title-article {
    background-image: url(site_title.jpg);
    text-align: center;
    color: #fff;
    width: 500px;
    margin: auto;
}

article {
    width: 60%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);
    text-align: center;
    margin: auto;
    padding: 5px;
    border: 1px #8a2be2 solid;
}

#disco-mode {
  	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  	background-color: rgba(255,0,0,0.25);
  	animation-name: example;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
  	z-index: 1;
  	pointer-events: none;
}

@keyframes example {
  	0%   {background-color: rgba(255,0,0,0.25);}
  	25%  {background-color: rgba(255,255,0,0.25);}
  	50%  {background-color: rgba(0,255,0,0.25);}
  	75% {background-color: rgba(0,0,255,0.25);}
  	100% {background-color: rgba(255,0,0,0.25);}
}

.disco-button {
	z-index: 2;
    position: fixed;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    background: blueviolet;
    text-align: center;
    background: radial-gradient(blueviolet 30%, rebeccapurple 70%);
    border: blueviolet 2px solid;
    font-size: 20px;
}

.disco-button:hover {
	background: radial-gradient(mediumpurple 40%, blueviolet 70%);
	border: mediumpurple 2px solid;
}

#disco-mode img {
	display: block;
	margin: auto;
}

.blog-back {
    position: fixed;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgb(0,0,0) 95%);;
    font-size: 18px;
    text-align: center;
    border: #8a2be2 1px solid;
}

.blog-back a {
    color: white;
}

.blog-back a:hover {
    color: #8a2be2;
}